apiVersion: v1
kind: Service
metadata:
  name: {{ include "cryptomeria.fullname" . }}-genesis-server
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "cryptomeria.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: genesis-server