apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "raidchain.fullname" . }}-relayer
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: raidchain
      app.kubernetes.io/instance: rly-0
      app.kubernetes.io/component: relayer
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/name: raidchain
        app.kubernetes.io/instance: rly-0
        app.kubernetes.io/component: relayer
    spec:
      containers:
        - name: relayer
          image: "{{ .Values.relayer.repository }}:{{ .Values.relayer.tag }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: ["/bin/sh", "-c", "/scripts/init-relayer.sh"]
          env:
            - name: HEADLESS_SERVICE_NAME
              value: {{ include "raidchain.fullname" . }}-chain-headless
            - name: CHAIN_NAMES_CSV
              # "data-0,data-1,..." のようなCSV文字列を動的に生成
              value: {{ range $i, $chain := .Values.chains }}{{ if $i }},{{ end }}{{ $chain.name }}{{ end }}
            - name: RELEASE_NAME
              value: {{ .Release.Name | quote }}
          volumeMounts:
            - name: scripts
              mountPath: /scripts
            - name: mnemonics
              mountPath: /etc/relayer/mnemonics
      volumes:
        - name: scripts
          configMap:
            name: {{ include "raidchain.fullname" . }}-scripts
            defaultMode: 0755
        - name: mnemonics
          secret:
            secretName: {{ include "raidchain.fullname" . }}-mnemonics