{{- if .Values.staticMnemonics.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cryptomeria.fullname" . }}-mnemonics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cryptomeria.labels" . | nindent 4 }}
type: Opaque
stringData:
  # Static Chains (GWC, MDSC)
  gwc.mnemonic: {{ .Values.staticMnemonics.gwc | quote }}
  mdsc.mnemonic: {{ .Values.staticMnemonics.mdsc | quote }}

  # Scalable Chains (FDSC)
  {{- if .Values.fdsc }} # <-- FDSCブロックが存在する場合
  {{- $fdscMnemonic := .Values.staticMnemonics.fdsc }}
  {{- $count := int .Values.fdsc.replicas }}
  {{- range $i := until $count }}
  # fdsc.replicas=0 の場合、このループは実行されず、FDSCのニーモニックは格納されない
  fdsc-{{ $i }}.mnemonic: {{ $fdscMnemonic | quote }}
  {{- end }}
  {{- end }}
{{- end }}